.container{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    align-items: end;
}
.form_container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 25px;
   
}
.form_container input{
    height: 15px;
    padding: 8px;
    
}
.submit_btn{
    height: 35px;
    padding: 6px;
    font-weight: 300;
    background-color: black;
    color: white;
}



.contact_img img{height: 66vh;
    width: 55vh;
    margin-left: 90px;
    margin-top: 6px;
    mix-blend-mode: darken;
 
  


}
.contact_form form{
    padding-bottom: 20px;
}